.map {
    position: relative;
    width: 591px;
    height: 387px;
    fill: #fff;
}

.map svg {
    position: absolute;
}

.map canvas {
    position: absolute;
}

.selected {
    fill: red;
}

.plan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
}

.mainBlock {
    top: 0;
    left: 0;
}

/* левая часть тц  */
.block1 {
    top: 0;
    left: 1px;
}

.block2 {
    top: 92px;
    left: 101px;
}

.block4 {
    bottom: 193px;
    left: 143px;
}

.block18 {
    bottom: 170px;
    left: 137px;
}

.block3 {
    bottom: 243px;
    left: 143px;
}

.block5 {
    bottom: 192px;
    left: 125px;
}

.block6 {
    top: 1px;
    left: 143px;
}

/* центральная часть ТЦ  */
.block7 {
    top: 1px;
    left: 205px;
}

.block8 {
    top: 117px;
    left: 314px;
}

.block34 {
    top: 107px;
    left: 205px;
}

.block35 {
    top: 193px;
    left: 204px;
}

.block36 {
    top: 193px;
    left: 254px;
}

.block37 {
    top: 228px;
    left: 255px;
}

.block27 {
    top: 1px;
    left: 281px;
}

.block28 {
    top: 1px;
    left: 315px;
}

.block26 {
    top: 56px;
    left: 359px;
}

.block16 {
    top: 81px;
    left: 280px;
}

.block17 {
    top: 64px;
    left: 292px;
}

.block15 {
    top: 81px;
    left: 313px;
}

.block23 {
    top: 192px;
    left: 314px;
}

.block24 {
    top: 227px;
    left: 358px;
}

.block32 {
    top: 254px;
    left: 221px;
}

.block33 {
    top: 298px;
    left: 271px;
}

.block31 {
    top: 301px;
    left: 398px;
}

.block11 {
    top: 289px;
    left: 404px;
}

.block12 {
    top: 289px;
    left: 426px;
}

.block25 {
    top: 227px;
    left: 401px;
}

.block22 {
    top: 192px;
    left: 401px;
}

.block21 {
    top: 160px;
    left: 401px;
}

.block20 {
    top: 137px;
    left: 401px;
}

.block19 {
    top: 117px;
    left: 401px;
}

.block30 {
    top: 56px;
    left: 401px;
}

.block29 {
    top: 1px;
    left: 401px;
}

.block10{
    bottom: 1px;
    right: 0;
}

.block9 {
    bottom: 69px;
    right: 1px;
}

.block14 {
    top: 23px;
    left: 496px;
}

.block13 {
    top: 45px;
    left: 496px;
}

.pointer1 {
    position: absolute;
    bottom: 157px;
    left: 79px;
    z-index: 1000;
}

.pointer2 {
    position: absolute;
    bottom: 37px;
    left: 236px;
    z-index: 1000;
}

.active {
    background-color: #7fa2d8;
    color: #fff;
}